syntax = "proto3";

package rpc;

option go_package = "./{{.svc}}";

service {{.svc}}Service {
    rpc Test (TestRequest) returns (TestResponse) {}
}

message TestRequest {
    int32 id = 1;
}

message TestResponse {
    int32 code = 1;
    string msg = 2;
}